In [1]:
!pwd

/Users/jakadam/ML Projects/SpamClassifierWebApp

In [14]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

In [15]:
df=pd.read_csv('spam.csv',encoding="latin-1")
df.shape

(5572, 5)

In [16]:
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [11]:
#with pd.option_context('display.max_rows', 30, 'display.max_columns', 30):
#    print(df)

In [17]:
df.drop(['Unnamed: 2', 'Unnamed: 3','Unnamed: 4'], axis=1, inplace=True)
df.head(10)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [19]:
new_col_names= df.columns.values
new_col_names=['class', 'msg']
df.columns=new_col_names

In [20]:
df['label']=df['class'].map({'ham':0, 'spam':1})
df.head(10)

  class                                                msg  label
0   ham  Go until jurong point, crazy.. Available only ...      0
1   ham                      Ok lar... Joking wif u oni...      0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3   ham  U dun say so early hor... U c already then say...      0
4   ham  Nah I don't think he goes to usf, he lives aro...      0
5  spam  FreeMsg Hey there darling it's been 3 week's n...      1
6   ham  Even my brother is not like to speak with me. ...      0
7   ham  As per your request 'Melle Melle (Oru Minnamin...      0
8  spam  WINNER!! As a valued network customer you have...      1
9  spam  Had your mobile 11 months or more? U R entitle...      1

In [21]:
X=df['msg']
y=df['class']
cv=CountVectorizer()
X=cv.fit_transform(X)
X

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

In [22]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.33, random_state=100)

In [26]:
#X_train

In [25]:
#y_train

In [27]:
classifier=MultinomialNB()
classifier.fit(X_train, y_train)
classifier.score(X_test, y_test)
y_pred=classifier.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         ham       0.99      0.99      0.99      1600
        spam       0.92      0.94      0.93       239

   micro avg       0.98      0.98      0.98      1839
   macro avg       0.95      0.96      0.96      1839
weighted avg       0.98      0.98      0.98      1839

In [28]:
from sklearn.externals import joblib
joblib.dump(classifier,'NB_SPAM_TRAINED_MODEL.pkl')

['NB_SPAM_TRAINED_MODEL.pkl']

In [ ]:
#loading purpose
trained_spam_classifier=open('NB_SPAM_TRAINED_MODEL.pkl','rb')
classifier=joblib.load(trained_spam_classifier)